:root{
    --black : #000;
    --primary-bg-color : #ffe9c0c4;
    --secondary-bg-color : #b38c46d7; 
    --top-nav-color : #fef3dfc6;

    --border-color : #bebdbd79;
    --title-color : #0c0c0cb4;
    --placeholder : #00000075;
    --icon-color : #323131bd;
    --box-shadow-light : 0 0 10px #c6c2c28e;

    --font-poppins : "Poppins", sans-serif;
    --font-roboto : "Roboto", sans-serif;
    --font-jost : "Jost", sans-serif;
    --font-anta : "Anta", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none ;
    text-decoration: none !important;
    user-select: none;
}

body{
    height: 100vh;
    background-color: var(--main-color);
    scroll-padding-top: 130px; 
}

p{
    margin: 0 !important;
    padding: 0 !important;
}

.wrapper{
    max-width: 1300px;
    margin: auto;
}


/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--primary-bg-color);
    border-left: 1px solid var(--border-color)
}
  
::-webkit-scrollbar-thumb {
    background: var(--secondary-bg-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #926e2cd7;    
}


/* navigation */
.nav-box{
    position: fixed;
    top: 0px;
    left: 0;
    background-color: #fff;
    height: 140px;
    width: 100%;
    z-index: 1000; 
    box-shadow: var(--box-shadow-light);
    padding: 0 30px;
}

nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar{
    position: relative;
}

.searchbar input{
    outline: none;
    border: 1px solid var(--border-color);
    height: 50px;
    width: 320px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

input::placeholder{
    color: var(--placeholder);
}

.searchbar i{
    position: absolute;
    right: 22px;
    top: 14px;
    font-size: 18px;
    color: var(--icon-color);
}

.logo{
    font-family: var(--font-anta);
}

.logo span{
    color: var(--secondary-bg-color);
}

.nav-list{
    display: flex;
    gap: 40px;
    font-size: 20px;
}

.nav-list i{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--icon-color);
    cursor: pointer;
    transition: color .3s ease-in-out ;
    position: relative;
}

.nav-list i:hover{
    color: var(--black);
}

.nav-list span{
    margin-top: -5px;
    font-size: 15px;
    font-family: var(--font-jost);
}

#items-added{
    position: absolute;
    right: 17px;
    width: 14px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 50%;
    background-color: var(--secondary-bg-color);
    color: #fff;
    font-family: var(--font-roboto);
}

/* menu bar button */
/* .nav-open-btn {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    outline: none;
    border: none;
    background-color: inherit;
}

.nav-open-btn span {
    width: 20px;
    height: 2px;
    background: var(--black);
    transition: 0.3s;
}

.nav-open-btn span:nth-child(2) {
    transform: scaleX(0.5);
    transform-origin: right;
}

.nav-open-btn:is(:hover, :focus) span:nth-child(2) { 
    transform: scaleX(1); 
}
  
.nav-active{
    visibility: hidden;
} */


/* top navigation */
.top-nav{
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: var(--top-nav-color);
}
.top-nav ul{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.top-nav ul li a{
    font-family: var(--font-poppins);
    color: var(--black);
    font-weight: 600;
    font-size: 16px;
    transition: .3s;
}

.top-nav ul li a:hover{
    color: var(--secondary-bg-color);
}


/* carousel */
.slide{
    margin-top: 140px;
    background-color: var(--primary-bg-color);
}

.carousel-inner{
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 25px 0px 40px;
    border-radius: 20px;
}

.carousel-item img{
    width: 800px;
    height: 500px;
    border-radius: 20px;
    margin: auto;
    opacity: 80%;
}

.carousel-indicators {
    position: absolute;
    bottom: -8px !important;
    gap: 12px;
}

.carousel-indicators [data-bs-target]{
    height: 8px !important;
    width: 8px !important;
    border-radius: 50%;
    background-color: var(--secondary-bg-color) !important;
}


/* service section */
.service{
    padding: 70px 0;
    max-width: 1300px;
    margin: auto;
}
.service-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}
.service-list{
    display: flex;
    gap: 16px;  
    color: var(--title-color);
    margin-top: 30px;
    padding: 0 20px;
}

.service-list i{
    font-size: 42px;    
}

.fa-solid{
    line-height: 1.6 !important;
}

.service-list-item p{
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-poppins);
}

.service-list-item span{
    color: var(--placeholder);
    font-weight: 500;
    font-size: 14px;
}


/* clothing */
.clothing-title{
    font-size: 36px;
    font-family: var(--font-jost);
    font-weight: 600;
    color: var(--title-color);
    text-transform: uppercase;
    padding: 0 20px;
}

.clothing-products{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    gap: 25px;
    padding: 0 20px;
}

.clothing-list {
    margin-bottom: 20px;
}

.clothing-list-item{
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--top-nav-color);
    border-radius: 20px;
    height: 320px;
    width: 280px;
}

.clothing-list img{
    max-width: 300px;
    padding: 20px;
}

/* clothing button */
.clothing-btn {
    position: absolute;
    bottom: -60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow-light);
    border-radius: 10px;
    transition: .5s;
}

.clothing-list-item:hover .clothing-btn{
    bottom:25px;
}

.clothing-btn i:not(.clothing-cart-btn i) {
    font-size: 20px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}

.clothing-cart-btn {
    background-color: var(--secondary-bg-color); 
    color: #fff;
    border: 2px solid var(--secondary-bg-color); 
    padding: 10px;
    height: 50px;
    width: 140px;
    display: flex;
    align-items: center;
    transition: .5s;
    font-size: 16px;
}

.clothing-cart-btn span {
    padding-right: 5px;
    cursor: pointer;
}

.clothing-cart-btn i {
    padding: 5px;
}

.clothing-btn i:first-child:not(.clothing-cart-btn i){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.clothing-btn i:last-child:not(.clothing-cart-btn i){
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.clothing-btn i:hover:first-child:not(.clothing-cart-btn i){
    border: 2px solid var(--secondary-bg-color);
    border-right: none;
    color: var(--secondary-bg-color);
    transition: border-color 0.5s, border-radius 0.5s, color 0.5s; 
}
.clothing-btn i:hover:last-child{
    border: 2px solid var(--secondary-bg-color);
    border-left: none;
    color: var(--secondary-bg-color);
    transition: border-color 0.5s, border-radius 0.5s, color 0.5s; 
}

.clothing-cart-btn:hover {
    background-color: #fff;
    color: var(--secondary-bg-color);
}

/* clothing details */
.clothing-detail{
    margin-top: 15px;
}
.clothing-detail h3{
    font-size: 28px;
    font-family: var(--font-jost);
    color: var(--title-color);
}
.clothing-detail p{
    font-family: var(--font-poppins);
    color: var(--placeholder);
    font-weight: 500;
}

.clothing-detail span{
    font-size: 22px;
    font-family: var(--font-poppins);
    font-weight: 500;
    color: var(--secondary-bg-color);
}


/* accessories */
.accessories-title{
    font-size: 36px;
    font-family: var(--font-jost);
    font-weight: 600;
    color: var(--title-color);
    text-transform: uppercase;
    padding: 0 20px;
    margin-top: 70px;
}
.accessories-products{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    gap: 25px;
    padding: 0 20px;
}

.accessories-list {
    margin-bottom: 20px;
}

.accessories-list-item{
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--top-nav-color);
    border-radius: 20px;
    height: 320px;
    width: 280px;
}

.accessories-list img{
    max-width: 300px;
    padding: 40px;
}

/* accessories button */
.accessories-btn {
    position: absolute;
    bottom: -60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow-light);
    border-radius: 10px;
    transition: .5s;
}

.accessories-list-item:hover .accessories-btn{
    bottom:25px;
}

.accessories-btn i:not(.accessories-cart-btn i) {
    font-size: 20px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}

.accessories-cart-btn {
    background-color: var(--secondary-bg-color); 
    color: #fff;
    border: 2px solid var(--secondary-bg-color); 
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    transition: .5s;
}

.accessories-cart-btn span {
    padding-right: 5px;
    cursor: pointer;
}

.accessories-cart-btn i {
    padding: 5px;
}

.accessories-btn i:first-child:not(.accessories-cart-btn i){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.accessories-btn i:last-child:not(.accessories-cart-btn i){
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.accessories-btn i:hover:first-child:not(.accessories-cart-btn i){
    border: 2px solid var(--secondary-bg-color);
    border-right: none;
    color: var(--secondary-bg-color);
    transition: border-color 0.5s, border-radius 0.5s, color 0.5s; 
}
.accessories-btn i:hover:last-child{
    border: 2px solid var(--secondary-bg-color);
    border-left: none;
    color: var(--secondary-bg-color);
    transition: border-color 0.5s, border-radius 0.5s, color 0.5s; 
}

.accessories-cart-btn:hover {
    background-color: #fff;
    color: var(--secondary-bg-color);
}

/* accessories details */
.accessories-detail{
    margin-top: 15px;
}
.accessories-detail h3{
    font-size: 28px;
    font-family: var(--font-jost);
    color: var(--title-color);
}
.accessories-detail p{
    font-family: var(--font-poppins);
    color: var(--placeholder);
    font-weight: 500;
}

.accessories-detail span{
    font-size: 22px;
    font-family: var(--font-poppins);
    font-weight: 500;
    color: var(--secondary-bg-color);
}



/* Footer */
#footer{
    margin-top: 50px;
    background-color: var(--top-nav-color);
}

.footer-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 10px ;
}

.footer-about{
    max-width: 450px;
    margin-bottom: 30px;
    padding: 0 20px;
}

.footer-about p{
    margin-top: 10px !important;
    font-family: var(--font-jost);
    font-size: 18px;
}

.footer-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 20px;
}
.footer-item h3{
    font-family: var(--font-roboto);
    font-size: 28px;
    color: var(--black);
    opacity: .8;
}

.footer-item ul {
    padding: 0;
    margin-top: 15px;
}

.footer-item ul li{
    padding: 4px 0;
}

.footer-item ul li a{
    font-size: 16px;
    font-family: var(--font-jost);
    color: var(--placeholder);
    position: relative;
    transition: .3s;
}

.footer-item ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 0px;
    background-color: var(--title-color);
    transition: .3s;
}

.footer-list ul li a:hover {
    padding-left: 15px; 
    color: var(--title-color);
}

.footer-list ul li a:hover::before {
    width: 10px;
}


/* Copyright */
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.copyright p{
    font-family: var(--font-roboto);
}